@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?78084746');
  src: url('../font/fontello.eot?78084746#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?78084746') format('woff'),
       url('../font/fontello.ttf?78084746') format('truetype'),
       url('../font/fontello.svg?78084746#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?78084746#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-lock:before { content: '\e800'; } /* '' */
.icon-wait:before { content: '\e801'; } /* '' */
.icon-lock-open:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-attention:before { content: '\e805'; } /* '' */
.icon-info-circle:before { content: '\e806'; } /* '' */
.icon-tv:before { content: '\e807'; } /* '' */
.icon-pc:before { content: '\e808'; } /* '' */
.icon-tablet:before { content: '\e809'; } /* '' */
.icon-mobile:before { content: '\e80a'; } /* '' */
.icon-audio:before { content: '\e80b'; } /* '' */
.icon-network:before { content: '\e80c'; } /* '' */
.icon-vimeo:before { content: '\e80d'; } /* '' */
.icon-language:before { content: '\e80e'; } /* '' */
.icon-youtube:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e811'; } /* '' */
.icon-cancel:before { content: '\e812'; } /* '' */
.icon-plus:before { content: '\e813'; } /* '' */
.icon-minus:before { content: '\e814'; } /* '' */
.icon-cancel-small:before { content: '\e815'; } /* '' */
.icon-down-dir:before { content: '\e816'; } /* '' */
.icon-up-dir:before { content: '\e817'; } /* '' */
.icon-left-dir:before { content: '\e818'; } /* '' */
.icon-right-dir:before { content: '\e819'; } /* '' */
.icon-down:before { content: '\e81a'; } /* '' */
.icon-up:before { content: '\e81b'; } /* '' */
.icon-analiytics:before { content: '\e81c'; } /* '' */
.icon-channel:before { content: '\e81d'; } /* '' */
.icon-library:before { content: '\e81e'; } /* '' */
.icon-facebook:before { content: '\e81f'; } /* '' */
.icon-share:before { content: '\e820'; } /* '' */
.icon-star:before { content: '\e821'; } /* '' */
.icon-star-empty:before { content: '\e822'; } /* '' */
.icon-user:before { content: '\e823'; } /* '' */
.icon-video:before { content: '\e824'; } /* '' */
.icon-video-chat:before { content: '\e825'; } /* '' */
.icon-image:before { content: '\e826'; } /* '' */
.icon-dashboard:before { content: '\e827'; } /* '' */
.icon-ok-circled:before { content: '\e828'; } /* '' */
.icon-cancel-circled:before { content: '\e829'; } /* '' */
.icon-loading:before { content: '\e82a'; } /* '' */
.icon-info:before { content: '\e82b'; } /* '' */
.icon-edit:before { content: '\e82c'; } /* '' */
.icon-communication:before { content: '\e82d'; } /* '' */
.icon-trash:before { content: '\e82e'; } /* '' */
.icon-doc:before { content: '\e82f'; } /* '' */
.icon-category:before { content: '\e830'; } /* '' */
.icon-cogs:before { content: '\e831'; } /* '' */
.icon-cog:before { content: '\e832'; } /* '' */
.icon-wrench:before { content: '\e833'; } /* '' */
.icon-calendar:before { content: '\e834'; } /* '' */
.icon-block:before { content: '\e835'; } /* '' */
.icon-down-open:before { content: '\e836'; } /* '' */
.icon-left-open:before { content: '\e837'; } /* '' */
.icon-right-open:before { content: '\e838'; } /* '' */
.icon-up-open:before { content: '\e839'; } /* '' */
.icon-refresh:before { content: '\e83a'; } /* '' */
.icon-play:before { content: '\e83b'; } /* '' */
.icon-stop:before { content: '\e83c'; } /* '' */
.icon-pause:before { content: '\e83d'; } /* '' */
.icon-menu:before { content: '\e83e'; } /* '' */
.icon-off:before { content: '\e83f'; } /* '' */
.icon-qrcode:before { content: '\e840'; } /* '' */
.icon-card:before { content: '\e841'; } /* '' */
.icon-key:before { content: '\e842'; } /* '' */
.icon-search:before { content: '\e843'; } /* '' */
.icon-plus-circle:before { content: '\e844'; } /* '' */
.icon-minus-circle:before { content: '\e845'; } /* '' */
.icon-cancel-circle:before { content: '\e846'; } /* '' */
.icon-logout:before { content: '\e847'; } /* '' */
.icon-popup:before { content: '\e848'; } /* '' */
.icon-down-circle:before { content: '\e849'; } /* '' */
.icon-left-circle:before { content: '\e84a'; } /* '' */
.icon-right-circle:before { content: '\e84b'; } /* '' */
.icon-up-circle:before { content: '\e84c'; } /* '' */
.icon-transcoding:before { content: '\e84d'; } /* '' */
.icon-help:before { content: '\e84e'; } /* '' */
.icon-up-micro:before { content: '\e84f'; } /* '' */
.icon-down-micro:before { content: '\e850'; } /* '' */
.icon-alert:before { content: '\e851'; } /* '' */
.icon-upload:before { content: '\e852'; } /* '' */
