/* css */
body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:#3498db;
  }

a{
    text-decoration-line: none;
}

  ul {
    font-size: 18px;
    margin: 10px;
  }

  /* 모든 단락과 목록 항목을 녹색으로 만들려면 ,쉼표로 선택자를 구분하기.*/
  p,
li {
  color: #6495ED;
}

.box{
  width: 30%;
  padding: 20px;
  border: 5px solid black;
  margin: 15px;
}

<style>
  p{
    color: blueviolet;
  }
  .highlight{
    color: red;
  }
  #unique{
    color: green !important;
  }
  p.inline-style{
    color: pink !important;
  }
</style>
